<h2>Edit posts</h2>

<%= render "form.html", changeset: @changeset, conn: @conn,
                        action: posts_path(@conn, :update, @posts) %>

<%= link "Back", to: posts_path(@conn, :mypost) %>
